gallery img{
    width: 100%
}

h2{
    font-family: Impact, fantasy;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
}
h4{
    font-family: Impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: cornflowerblue;
}
p{
    font-family: Helvetica, sans-serif;
    text-decoration: line-through;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collaspe;
    border-width: 1px;
    border-style: solid;
    border-color: #2695A6;
    border-collapse: collapse;
}

th{
    font-weight: 800;
    background-color: #2695A6;
    color: #ffffff;
}

